body { 
  /*font: .875em/1.618 Helvetica, Sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  height: 500px;
  margin: 0 auto;
  min-width: 700px;
}
img {
    width: 100%;
    height: auto;
}
.workScreen img{
    position:relative;float:left;
    max-width: 15vw;
    margin: 5px;

    max-height: 7.5vw;
}
.workPartner img{
    position:relative;float:left;
    display: block;
    margin: auto;
    width: auto;
    margin: 5px;
    max-height: 9.5vw;
}
div.clear
{
  clear: both;
}
div{
  /*border: 1px solid;*/
}
#MyContent
{
  height: 98vh;
  /*overflow: hidden;*/
}
article#MyIntro{
  padding-bottom: 10px;
}
article#MyWork
{
  height: 55vw;
}
,article#AllWork
{
    height: auto;
}
.scaleCap, .scaleCap p{
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top:0px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;   
}
article:hover .panel{
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0.5;
}
.content {
  position: absolute;
  left: 48vw;
  top:41vw;
  transform: translate(-50%, -50%);
  font-size: 2.3vw;
  line-height: 40px;
  color: black;
  height: 40px;
  overflow:hidden;
  z-index: 1000px;
  /*for visible too*/
  font-weight:600;
}

.content p {
  display:inline;
  margin:0;
}

.content ul {
  margin-top:0;
  text-align:left;
  list-style:none;
  float:left;
  padding-right:20px;
  animation:6s linear 0s normal none infinite change;
}

.content ul li {
  line-height:40px;
  padding-bottom: 10px;
  margin:0;
}

@keyframes opacity {
  0%, 100%   {opacity:0;}
  50%  {opacity:1;}
}

@keyframes change {
  0%, 13%, 100%   {transform:translateY(0);}
  17%,29%  {transform:translateY(-20%);}
  34%,46%  {transform:translateY(-40%);}
  51%,63%  {transform:translateY(-60%);}
  68%,80%  {transform:translateY(-80%);}
  85%,97%  {transform:translateY(-100%);}
}
#MyWork
{
  width: 100%;
  background:#f3f3f3;
  margin: 0;
 
}
#WorkList
{
    width: 100%;
     border: 1px solid;
    height: auto;
}
#navigation {
  background-color: #eee;
  position:fixed;
  z-index:2000;
}
#navigation ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
#navigation li {
  font-size: 1.2em;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #888;

  /*border-right: 1px solid #ddd;*/
  display: block;
  float: right;
  margin: 0;
}
#navigation li:last-child {
  border-right-width: 0;
}
#navigation a {
  background-color: black;
  color: white;
  display: block;
  padding: .75em 1.5em;
  text-decoration: none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#navigation a:hover {
  background-color: #D3D3D3;
  color:black;
}
#navigation a.active{
  background-color: #D3D3D3;
  color:black;
}
#map {
        width: 100%;
        height: 400px;
}

/*For My Team*/
#MyTeam{
  height: 50vw;
}
.teamBox{
  width: 90vw;
  margin: auto;
  height:40vw;
}
.meContact{
  width: 35vw;
  margin-left: 1%;
  height: auto;
  float: left;
}
.mainPic{
  width: 20vw;
  margin-top:15%;
  margin-right:20%;
  margin-bottom:0%;
  margin-left:20%;
  height: auto;
  float: left;
}
.mainPic img{
 border-bottom: 1px solid;
}

.socialPic
{
  margin-left:20%;
}
.socialPic img{
  width: 3vw;
  padding: 10px;
}
.socialPicM img{
  width: 1vw;
  padding: 10px;
}
.meContact p{
  width: 20vw;
  margin-right:20%;
  margin-bottom:0%;
  margin-left:20%;
  height: auto;
  text-align: center;
  float: left;
}
.teamIntro{
  margin-top:10px;
  text-align: center;
  color: grey;
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Century Gothic Light', sans-serif;
  font-size: 1.5vw;
}
.teamMember
{
  width: 49vw;
  margin:2% 0%;
  margin-left: 3%;
  height: auto;
  float: left;
}
.teamContact{
  border-bottom:0.5px solid grey; 
}
.teamContact img{

  width: 8vw;
  padding-bottom: 1%;
  padding-right: 2%;
}
.workIMG{
  width:26vw;
  height: 38vw;
  margin: 3vw 0vw 0vw 3.5vw;
  float: left;
  min-height: 38vw;
}
.caseHeading
{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  margin:2vw 2vw 0vw 2vw;
  font-size: 3vw;
}
.caseSub
{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin:0vw 2vw;
  background-color: black;
  color: white;
  font-size: 2vw;
}
.caseIntro
{
  margin: 1vw 2vw;
  text-align: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 1.2vw;
}

.casePar
{
  /*font-family: 'Raleway', sans-serif;*/
  /*overflow: hidden;*/
  height: 15vw;
  margin: 0px auto;
  position: relative;
}
p.pIntro
{
  color: gray;
  font-size: 1vw;
}
.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10,.slide11,.slide12,.slide13,.slide14,.slide15 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(img/AlivioMain.PNG)no-repeat center;
  background-size: cover;
  animation:fade 30s infinite;
  -webkit-animation:fade 30s infinite;
}
.slide2 {
  background: url(img/proj1img1.PNG)no-repeat center;
  background-size: cover;
  animation:fade2 30s infinite;
  -webkit-animation:fade2 30s infinite;
}  
.slide3 {
  background: url(img/proj1img4.PNG)no-repeat center;
  background-size: cover;
  animation:fade3 30s infinite;
  -webkit-animation:fade3 30s infinite;
} 
.slide4 {
  background: url(img/proj1img2.PNG)no-repeat center;
  background-size: cover;
  animation:fade4 30s infinite;
  -webkit-animation:fade4 30s infinite;
} 
.slide5 {
  background: url(img/proj1img3.PNG)no-repeat center;
  background-size: cover;
  animation:fade5 30s infinite;
  -webkit-animation:fade5 30s infinite;
}
.slide6 {
  background: url(img/HISMain.PNG)no-repeat center;
  background-size: cover;
  animation:fade 30s infinite;
  -webkit-animation:fade 30s infinite;
}
.slide7 {
  background: url(img/proj2img1.PNG)no-repeat center;
  background-size: cover;
  animation:fade2 30s infinite;
  -webkit-animation:fade2 30s infinite;
}  
.slide8 {
  background: url(img/proj2img2.PNG)no-repeat center;
  background-size: cover;
  animation:fade3 30s infinite;
  -webkit-animation:fade3 30s infinite;
} 
.slide9 {
  background: url(img/proj2img3.PNG)no-repeat center;
  background-size: cover;
  animation:fade4 30s infinite;
  -webkit-animation:fade4 30s infinite;
} 
.slide10 {
  background: url(img/proj2img4.PNG)no-repeat center;
  background-size: cover;
  animation:fade5 30s infinite;
  -webkit-animation:fade5 30s infinite;
}  
.slide11 {
  background: url(img/CISMain.PNG)no-repeat center;
  background-size: cover;
  animation:fade 30s infinite;
  -webkit-animation:fade 30s infinite;
}
.slide12 {
  background: url(img/proj3img1.PNG)no-repeat center;
  background-size: cover;
  animation:fade2 30s infinite;
  -webkit-animation:fade2 30s infinite;
}  
.slide13 {
  background: url(img/proj3img4.PNG)no-repeat center;
  background-size: cover;
  animation:fade3 30s infinite;
  -webkit-animation:fade3 30s infinite;
} 
.slide14 {
  background: url(img/proj3img2.PNG)no-repeat center;
  background-size: cover;
  animation:fade4 30s infinite;
  -webkit-animation:fade4 30s infinite;
} 
.slide15 {
  background: url(img/proj3img3.PNG)no-repeat center;
  background-size: cover;
  animation:fade5 30s infinite;
  -webkit-animation:fade5 30s infinite;
} 
.caseLine2
{
  width: 90%;
  margin: 0vw 0vw 0vw 2vw;
  border-bottom:1px solid black;
}
.caseTBC
{
  float:right;
  font-size: 0.4vw;
  margin: 1vw 2vw 0vw 0vw;
}

/*Stroke*/
.tri-down2 {
  position: relative;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 1px solid black;
  background: white;
  font-size: 500%;
  text-align: center;
}

/* Required for Down Triangle */
.tri-down2:before,.tri-down2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

/* Stroke */
.tri-down2:before {
  bottom: -10px;
  left: 18vw;
  border-top-color: black;
  border-width: 10px;
}

@keyframes fade
{
  0%   {opacity:1}
  20%  {opacity: 0}
  40%  { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
   0%   {opacity:0}
  20%  {opacity: 1}
  40%  { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  20%  {opacity: 0}
  40%  { opacity: 1}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  20%  {opacity: 0}
  40%  { opacity: 0}
  60% { opacity: 1}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade5
{
  0%   {opacity:0}
  20%  {opacity: 0}
  40%  { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 1}
  100% { opacity: 0}
}

 .workslide {
  width: 100%
  height: 50vw;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  transition: opacity 1s ease-in-out;
}
.workslide.fadeImage {
  visibility: collapse;
  opacity: 0;

}
#WordPicContainer {
  position: absolute;
  margin: -40vw 13vw;
  width: 70vw;
}
#WorkPic {
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 70vw;
}

.aboutMeContainer
{
  width: 49vw;
  margin:5% 0% 0% 0%;
  margin-left: 2%;
  height: auto;
  float: left;
}
.aboutMeContent{
  border-bottom:3px solid black; 
}
.aboutMeContent p
{
  text-align: center;
  color: black;
  font-size: 2vw;
}
p.pIntro
{
  color: gray;
  font-size: 1vw;
}


#sideNav
{
  border: 1px solid;
  position: absolute;
  top:0;
  width:25vw;
  height:100vh;
  background-color: black;
  display: block;
  left:-26vw;
}

/*already have hover need to add navigation bat*/
#sideNav
{
  position: absolute;
  top:0;
  width:25vw;
  height:100vh;
  background-color: black;
  display: block;
  left:-26vw;
  z-index: 50;
}


#mylogo {
   display: block;
   position: absolute;
   width: 5vw;
   height:5vw;
   left:4vw; 
   top: 5vh;
   background-size: 5vw 5vw;
   background-image: url('../img/logo.png');
   background-repeat: no-repeat;
   z-index: 100;
}

#mylogo:hover {
  background-image: url('../img/logo1.png');
  background-repeat: no-repeat;
  z-index: 1001;
}
#sideNav:hover {
  position: fixed;
  left:0;
  z-index: 1000;
}
#mylogo:hover + #sideNav{
  left:0;
}

.sidebar {
  list-style-type:none;
  text-align:left;
  position: absolute;
  margin: 30% 27%;
  padding: 0;
  list-style: none;
  transition:1s ease;
}

.sidebar a {
  text-decoration:none;
  color:white;
  transition:1s ease;
}

.sidebar li {
  line-height: 5vw;
  transition:0.5s ease;
}

.sidebar li:hover {
  cursor:pointer;
  text-indent: 2vw;
}
.sidebar > .sidebrand
{
  text-indent: -2vw;
  font-size: 2.5vw;
}
/*.sidebar > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}*/
#footer{
  background:black;
  color:white;
  margin-top: 5%;
  padding:2%;
}

#footer p{
    text-align: center;
    line-height: 0.2vw;
    color: #e2e2e2;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
    font-size: 0.8vw;
    font-weight: 300;
}
#footer p:first-child{
   
    font-size: 1.5vw;
    /*font-weight: 300;*/
}
