/*
timeline modified based on
http://tympanus.net/codrops/2013/10/25/split-layout/*/

.panel{
	height:auto;
}

/*Stroke*/
.tri-down2 {
  position: relative;
  padding-bottom: 15px;
  padding-top: 20px;
  /*border-bottom: 2px solid black;*/
  background: white;
  font-size: 500%;
  text-align: center;
  z-index: -100;
}

.timeLine {
	margin: 50px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.timeLine1 {
	margin: 50px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.timeLine:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: black;
	left: 20%;
	margin-left: -10px;
}
.timeLine1:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: black;
	left: 12%;
	margin-left: -10px;
}

.tmlineDT{
	display: block;
	width: 20%;
	position: absolute;
	font-size: 20px;
	color: black;
	padding-left: 7%;
}
.tmlineDT2{
	display: block;
	width: 5%;
	position: absolute;
	font-size: 11px;
	color: black;
	padding-left: 6%;
}
.tmlineDT3{
	float: right;
	font-size: 10px;
}

/* Right content */
.timeBox {
	margin: 0 10% 15px 25%;
	padding: 2em;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border:none;
	background: white;
	color: black;
}
.timeBox1{
	margin: 0 10% 15px 15%;
	padding: 2em;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border:none;
	background: white;
	color: black;
}

.timeLine > li .timeBox h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,1);
}
.timeLine1 > li .timeBox h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,1);
}

.circle {
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -19px;
}
.teamMember
{
  width: 49vw;
  margin:6% 0%;
  margin-left: 3%;
  float: left;
}

.teamIntro{
  margin-top:5px;
  text-align: center;
  color: grey;
  font-size: 15px;
}

.teamContact img{

  width: 8vw;
  /*padding-bottom: 1%;*/
  padding-right: 2%;
}
.socialPicM img{
  width: 3vw;
  padding-bottom: 3%;
}


/*for Up*/
	#ScreenshotPic{
		margin:5vw;
	}
	#ScreenshotPic img{
	  width: 24%;
	  float: left;
	}

/*for Hi5*/
.right {
		/*float: left;*/
		/*border: 1px solid;*/
		color: #000;
		margin: -10% 5%;
		/*width: 50%;*/
		text-align: right;
}
.bigLetter,
.smallLetter {
		-webkit-transition: opacity .25s;
		-moz-transition: opacity .25s;
		-o-transition: opacity .25s;
		-ms-transition: opacity .25s;
		transition: opacity .25s;
		font-family: Verdana;
		line-height: 8vh;
		color: lightgrey;
}

.bigLetter {
		font-size: 6vw;
}

.smallLetter {
		font-size: 3vw;
}
.smallLetter:first-child {
		margin-bottom: -1vw;
}

.smallLetter:last-child {
		margin-top: -0.7vw;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/*	#Upuser:hover .mainImage{
		display: none
	}
	#Upuser:hover .gifImage{
		display: block
	}*/

/*Video*/
	#mockupBG{
		position: relative;
		width: 77%;
		z-index: -10;
	}
	.vidcontainer{
		text-align: center;
		margin:0 auto;
		/*margin-top: -10%;*/
	}
	.webmockupBG{
		/*position: absolute;*/
		width: 90%;
		height: auto;
		z-index: -10;
	}
	.webmockuponlyBG{
		width: 85%;
		height: auto;
		z-index: -10;
	}
	.webbgvid{
		position: absolute;
		width: 55.3%;
		margin: -47.35% -35.7%;
	}
	.webbgonlyvid{
		position: absolute;
		width: 55%;
		margin: -40% -27.8%;
	}
	.mobilebgvid{
		position: absolute;
		width: 10%;
		margin: -34.5% 30.8%;
	}
	#span1Vid{
		position: absolute;
		width: 13.3%;
		margin: 2.9% 11.9%;
		/*margin-left: 19.5%;*/
	}
	#span2Vid{
		position: absolute;
		width: 12.2%;
		margin: 11.6% 17.8%;
		/*margin-left: 19.5%;*/
	}
	#demoVid{
		position: absolute;
		width:11%;
		margin: 10.35% 16%;
	}
	#bgvid {
	    position: relative;
	    width: 60%;
	    margin:5% 20%;
	    height: auto;
	}
	#fullvid {
	    position: relative;
	    width: 96%;
	    margin: 2%;
	    height: auto;
	}
	#myFullVideo {
	    position: absolute;
	    /* right: 0; */
	    top: 0;
	    width: 100%;
			height: auto;
	    /*margin: 2%;*/
	    min-width: 100%;
	    /* min-height: 100%; */
	    z-index: -1;
	}

.button-two {
    margin: 0 0 0 0vw;
  }

/*Center Horizontal & Vertical*/
.centerParent {
  font-family: 'Raleway', sans-serif;
  position: relative;
  /*background: white;*/
  /*height: auto;*/
  /*width: 60%;*/
  margin: 0 auto;
  /*padding: 20px;*/
  padding-top: 43%;
  resize: both;
  /* z-index: 2; */
  /*overflow: auto;*/
 }
.centerChild {
  /*background: #e2e2e2;*/
  background: rgba(226, 226, 226, 0.5);
  color: white;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  padding-left: 2%;
  resize: both;
  text-align: center;
  overflow: auto;
}

/* For Image Hover*/
.hovImage:hover .mainImage{
	display: none
}
.hovImage:hover .gifImage{
	display: block
}
.gifImage {
	display: none;
}

/*For image grid*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0% 20%;
	margin: auto;
	text-align: center;
}
.section1 {
	clear: both;
	padding: 2% 5%;
	margin: auto;
	min-height: 100vh;
	/*text-align: center;*/
}
.section2 {
	clear: both;
	padding: 2% 5%;
	margin: auto;
	min-height: 50vh;
}
.section3 {
	clear: both;
	padding: 0% 5%;
	margin: auto;
	min-height: 1vh;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 2% 2% 1.6%;
}
/*.col:first-child { margin-left: 0; }*/

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 96%;
}
.span_3_of_4 {
	width: 70%;
}
.span_2_of_4 {
	width: 45.2%;
}
.span_1_of_4 {
	width: 20.1%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 99%; }
.span_2_of_3 { width: 62%; }
.span_1_of_3 { width: 29.26%; }


#nav-link{ text-align: center;width: 90%;margin: 5%;}
#nav-link .nav-bar {  margin-top: -24px; font-size: 16px;}
#nav-link .nav-bar li { color: white; display:inline; padding:0 10px; }
#nav-link .nav-bar li a { color: lightgrey;}
#nav-link .nav-bar li.active{
	color: black;
    /*border-bottom: 1px solid #000;*/
    padding-bottom: 4px;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 99%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 99%; }
	#span2Vid{
		width: 17.5%;
		margin: 16% 25%;
	}
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.timeLine > li .tmlineDT{
		font-size: 1em;
	}
	.timeLine1 > li .tmlineDT2{
		font-size: 0.8em;
	}
	.timeLine1 > li .tmlineDT3{
		font-size: 0.5em;
	}
	.timeLine:before,.circle {
		display: none;
	}
	.timeLine1:before,.circle {
		display: none;
	}
	.timeBox {
		margin: 0 auto;
		padding: 1em;
		font-size: 1em;
	}
	.timeBox1 {
		margin: 0 auto;
		padding: 1em;
		font-size: 1em;
	}
	.gridColums span {
    font-family: 'franklingothic';
    font-size: 1.5vw;
  }
}
/*
@media screen and (max-width: 47.2em) {

}
