/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: #999;
  font: 400 16px/1.5em sans-serif;
  margin: 0;
}

#HomeImg{
  background-image: url('../img/Home.jpg');
  width: 100vw;
  height: 100vh;
}
#HomeImg:hover{
  background-image: url('../img/Home_Hover.jpg');
  width: 100vw;
  height: 100vh;
}
.PageImg{
  background-image: url('../img/Page.jpg');
  width: 100vw;
  height: 100vh;
}
.PageImg:hover{
  background-image: url('../img/Page_Hover.jpg');
  width: 100vw;
  height: 100vh;
}
